body {
    background: url("../img/matrix.jpg");
    backdrop-filter: blur(5px);
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
    margin: 0;
}
    
a {
    color: teal;
    text-decoration: none;
}
    
a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.menu {
    background-color: lightgray;
}
    
.menu ul {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
}
    
.menu li {
    list-style: none;
}
    
.site-subtitle,
.site-title {
    color: whitesmoke;     
    text-align: center;
}
    
.site-subtitle {
    font-style: italic;
}